* {
    font-family: 'Roboto', sans-serif;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  padding: 1px;
  gap: 2px;
}

@media (max-width: 1200px) {
  section {
    margin: 3% 0;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 700px) {
    section {
      margin: 3% 0;
      grid-template-columns: repeat(auto-fill, 300px);
    }
  }
  
.card {
  height: 240px;
  padding: 2% 3%;
  background: chartreuse;
}

.card:hover {
  opacity: 0.9;
  border: 1px solid rgb(3, 0, 156);
}

.card p, h3 {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    min-width: 1000px;
    justify-content: space-evenly;
    overflow: auto;
}

.wrapper-table {
    display: flex;
    justify-content: center;
}

table {
border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 20px;
}

tr:hover {background-color: #ddd;}
tr:nth-child(even){background-color: #f2f2f2;}

footer {
    padding: 10% 0 0 5%;
}
.link {
  text-decoration: underline;
  color: blue;
}
